<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey!</title>
</head>
<body>
    
    <div class="overlord"> <!-- overlord div starts here -->
        <h1 class="title">Random Form</h1>
        <p class="desc"> Please fill out as best you can!</p>
        <div class="form_container flexbox flex justify-center">
            <div class="contents">

                <form id="survey-form" action='/results' method='post'>
                    
                    <div class="form-group">
                    <label id="name-label" for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="Enter your name"
                        required/>
                    </div>

                    <div class="form-group">
                        <label id="email-label" for="email">Email</label>
                        <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        placeholder="Enter your Email"
                        required/>
                    </div>

                    <div class="form-group">
                        <p>Which option best describes your current role?</p>
                        <select id="dropdown" name="role" class="form-control" required>
                            <option disabled selected value>Select current role</option>
                            <option value="student">Student</option>
                            <option value="job">Full Time Job</option>
                            <option value="learner">Full Time Learner</option>
                            <option value="preferNo">Prefer not to say</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <p>Any comments or suggestions?</p>
                        <textarea
                            id="comments"
                            class="input-textarea"
                            name="comment"
                            placeholder="Enter your comment here..."
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="submit-button">
                            Submit
                        </button>
                    </div>
                </form>
            </div> <!-- contents -->
        </div> <!--form container-->

    </div> <!-- overlord div ends here-->

</body>
</html>